:root {
    --background-light: #141414;
    --background-dark: #141414;
    --text-light: #000000;
    --text-dark: #000000;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141414;
    display: flex;
    position: absolute;
    user-select: none;
}

.main-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Define a altura para preencher a tela inteira */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal, se houver */  
}

/* Customiza a barra de rolagem */
.main-container::-webkit-scrollbar {
    width: 8px; /* Define a largura da barra de rolagem */
}

/* Customiza a parte que você clica e arrasta */
.main-container::-webkit-scrollbar-thumb {
    background: #545454; /* Cor da parte de rolar */
    border-radius: 6px;
}

/* Customiza a trilha da barra de rolagem */
.main-container::-webkit-scrollbar-track {
    background: none; /* Cor do fundo da trilha */
    border-radius: 6px;
    margin: 20vh;
}


.left-box {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(3, 212px);
    gap: 20px; /* Espaço entre as colunas */
    padding: 20px;
    justify-items: center; /* Centraliza os containers horizontalmente */
}

.center-box {
    width: 100%;
    height: 100%;
    margin: 0 10px;
    padding: 0 10px;
}

.container {
    width: 220px;
    height: 220px;
    background-color: #d0d0d0;
    border-radius: 6px;
    margin: 10px;
    padding: 0;
    transition: transform 0.3s ease;
}

.container:hover, .container:focus {
    transform: scale(1.01);
}

.header {
    font-weight: bold;
    font-size: 20px;
    background-color: #8b0976;
    color: white;
    border-radius: 6px 6px 0 0;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0;
}

.container1 {
    width: 700px;
    height: 250px;
    background-color: #d0d0d0;
    border-radius: 6px;
    margin: 10px 0 20px 0px;
    padding: 0;
    transition: transform 0.3s ease;
}

.container1:hover, .container1:focus {
    transform: scale(1.01);
}

.header1 {
    font-weight: bold;
    font-size: 20px;
    background-color: #8b0976;
    color: white;
    border-radius: 6px 6px 0 0;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0;
}

.checkbox1 {
    margin-right: 10px; /* Ajuste o espaçamento entre os checkboxes */
    font-weight: bold;
    transform: scale(1.3);
}

.checkbox1-label {
    display: column;
    align-items: center;
    margin: 5px 15px;
}

.checkbox1-label input[type="checkbox"] {
    margin-right: 5px;
    border-radius: 6px; /* Adiciona bordas arredondadas */
    cursor: pointer;
}

.checkbox1-label span {
    margin-top: 4px; /* Mover o texto 4px para baixo em relação ao checkbox */
    cursor: pointer;
}

.checkbox {
    margin-right: 10px; /* Ajuste o espaçamento entre os checkboxes */
    font-weight: bold;
    transform: scale(1.3);
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin: 8px 0 0 15px;
}

.checkbox-label:nth-child(1) {
    display: flex;
    align-items: center;
    margin: 10px 0 0 15px;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 5px;
    border-radius: 6px; /* Adiciona bordas arredondadas */
    cursor: pointer;
}

.checkbox-label span {
    margin-top: 4px; /* Mover o texto 4px para baixo em relação ao checkbox */
    cursor: pointer;
}

.outros-separator {
    border: none; /* Remove a borda padrão */
    height: 1px; /* Altura da linha */
    background-color: #dedede; /* Cor da linha */
    width: 60%; /* Largura da linha */
    margin: 20px auto; /* Margem superior e inferior e centralização horizontal */
}    


.icon {
    width: 20px; /* Ajuste o tamanho conforme necessário */
    height: 20px; /* Ajuste o tamanho conforme necessário */
    margin-bottom: 3px;
}

/* Adicionando estilo de fundo com opacidade para .checkbox-text */
.checkbox-label .checkbox-text, .checkbox1-label .checkbox-text {
    position: relative; /* Para z-index funcionar */
    z-index: 1; /* Coloca o texto na frente do fundo */
}

/* Estilo de fundo com opacidade ao passar o mouse */
.checkbox-label:hover .checkbox-text::before, .checkbox1-label:hover .checkbox-text::before {
    content: ''; /* Cria um pseudo-elemento para o fundo */
    position: absolute;
    top: -2px; /* Ajuste conforme necessário para centralizar verticalmente */
    left: -4px; /* Ajuste conforme necessário para centralizar horizontalmente */
    width: calc(100% + 8px); /* Adiciona sobra horizontal */
    height: calc(100% + 4px); /* Adiciona sobra vertical */
    background-color: #ffffff33; /* Cor de fundo com opacidade */
    border-radius: 6px; /* Ajuste conforme necessário */
    z-index: -1; /* Coloca o fundo atrás do texto */
}

.radio {
    margin-right: 10px; /* Ajuste o espaçamento entre os radio buttons */
    font-weight: bold;
    transform: scale(1.3);
}

.radio-label {
    display: flex;
    align-items: center;
    margin: 8px 0 0 15px;
    position: relative; /* Para posicionamento relativo */
}

.radio-label:nth-child(1) {
    display: flex;
    align-items: center;
    margin: 10px 0 0 15px;
}

.radio-label input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
}

.radio-label span {
    margin-top: 3px;
    position: relative; /* Para z-index funcionar */
    cursor: pointer;
}

.radio-label .radio-text {
    position: relative; /* Para z-index funcionar */
    z-index: 1; /* Coloca o texto na frente do fundo */
}

/* Estilo de fundo com opacidade ao passar o mouse */
.radio-label:hover .radio-text::before {
    content: ''; /* Cria um pseudo-elemento para o fundo */
    position: absolute;
    top: -2px; /* Ajuste conforme necessário para centralizar verticalmente */
    left: -4px; /* Ajuste conforme necessário para centralizar horizontalmente */
    width: calc(100% + 8px); /* Adiciona sobra horizontal */
    height: calc(100% + 4px); /* Adiciona sobra vertical */
    background-color: #ffffff33; /* Cor de fundo com opacidade */
    border-radius: 6px; /* Ajuste conforme necessário */
    z-index: -1; /* Coloca o fundo atrás do texto */
}
  




/* FICHA DE SERVIÇO */
.right-box {
    width: 50%;
    margin: 30px 0 0 0;
}

.card0, .card1 {
width: 50%;
}

.card {
    width: 750px;
    height: 465px;
    background-color: #d0d0d0;
    border-radius: 6px;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: #ffffff;
    border: 2px solid #141414;
    border-radius: 6px;
    padding: 0px 15px 10px 15px;
    margin: 20px 20px;
    overflow-y: auto; /* Adiciona a barra de rolagem vertical quando necessário */
    width: 450px;
    max-height: 420px; /* Define uma altura máxima para o contêiner */
}

.card1 p:nth-child(2),
.card1 p:nth-child(3),
.card1 p:nth-child(4),
.card1 p:nth-child(17),
.card1 p:nth-child(18),
.card1 p:nth-child(19) {
    display: none; /* Para esconder os parágrafos específicos dentro da .card1 */
}

.card1 p {
    font-size: 10px;
    margin: 5px 0;
}

.card1 strong {
    font-size: 12px;
    font-weight: 750;
    color:#000000;
}

.card1 h3 {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 800;
}

.card1 h5 {
    font-size: 12px;
}

/* Customiza a barra de rolagem */
.card1::-webkit-scrollbar {
    width: 8px; /* Define a largura da barra de rolagem */
    border-radius: 6px;
}

/* Customiza a parte que você clica e arrasta */
.card1::-webkit-scrollbar-thumb {
    background: #d0d0d0; /* Cor da parte de rolar */
    border-radius: 6px;
}

/* Customiza a trilha da barra de rolagem */
.card1::-webkit-scrollbar-track {
    background: #ffffff; /* Cor do fundo da trilha */
    border-radius: 6px;
    margin: 20px;
}

.input-group {
    width: 300px;
    border-radius: 6px;
    font-weight: bold; 
    font-size: 20px;
    margin: 10px 0 0px 20px;
}

.input-group:nth-child(1) {
    width: 300px;
    border-radius: 6px;
    font-weight: bold; 
    font-size: 20px;
    margin: 20px 0 0px 20px;
}

.input-group-addon {
    font-weight: bold;
    color:#141414;
    border: 2px solid #141414;

}


/* BORDA NOME, ID, PLACA, ETC.*/
.form-control {
    border: 2px solid #141414;
}

.button {
    width: 27px;
    border: none;
    background: none;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.button img {
    width: 100%;
    height: 100%;
}

.button:hover {
    transform: scale(1.1) rotate(90deg);
}

.btn {
    width: 300px;
    height: 58px;
    background-color: #141414;
    color: white;
    margin: 10px 0px 0px 20px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn:hover, .btn:focus {
    background-color:  #8b0976;
    color: #ffffff;
    transform: scale(1.01);
}

.btn:active {
    background-color:  #8b0976;
    color: #ffffff;
    transform: scale(0.99);
}



/* CARD DO HOME PARA ADICONAR MIDIA*/
.cardhome {
    width: 100%; /* Defina a largura do container */
    height: 200px; /* Defina a altura do container */
    border-radius: 6px;
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do container */
    margin-top: 25px;
}

.cardhome img {
    width: 100%; /* Faz a imagem ocupar toda a largura do container */
    height: 100%; /* Faz a imagem ocupar toda a altura do container */
    object-fit: cover; /* Ajusta a imagem para cobrir o container sem distorcer */
    border-radius: 6px;
    cursor: pointer;
}



/* MODAL */

.modal-custom {
    display: none; /* Escondendo o modal inicialmente */
    position: fixed;
    z-index: 1000; /* Z-index alto para manter o modal na frente */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Fundo escuro semi-transparente */
}

.modal-content-custom {
    background-color: white;
    margin: auto;
    padding: 50px 50px 50px 70px;
    border: 1px solid #888;
    width: 600px;
    height: 450px;
    border-radius: 6px;
    transform: translateY(-50%); /* Move para cima */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: absolute; /* Para usar top e left com porcentagem */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o modal */
    opacity: 0; /* Inicialmente invisível */
}

.modal-content-custom.open {
    transform: translate(-50%, -50%); /* Garante que o modal permaneça no centro */
    opacity: 1; /* Torna visível ao abrir */
}

.close-custom {
    color: #aaa;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: -20px;
}



.close-custom:hover,
.close-custom:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input-group-custom {
    margin-bottom: 15px;
}

.input-group-custom label {
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}

.input-group-custom input,
.input-group-custom select {
    width: 460px; /* Exemplo de ajuste, subtraindo uma margem interna */
    justify-items: center;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
}

.button-modal {
    margin-top: 30px;
}

.btn-modal {
    width: 460px;
    height: 60px;
    background-color: #141414;
    color: white;
    margin: 10px 0px 0px 0px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-modal:hover, .btn-modal:focus {
    background-color: #8b0976;
    color: #ffffff;
    transform: scale(1.01);
}

.btn-modal:active {
    background-color: #8b0976;
    color: #ffffff;
    transform: scale(0.99);
}



/* MODALZINHO DE ROLAGEM DE TELA*/

@keyframes vibrate {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-1px, -1px); }
    50% { transform: translate(1px, 1px); }
    75% { transform: translate(-1px, 1px); }
    100% { transform: translate(1px, -1px); }
}

#alert {
    display: block; /* Inicialmente visível */
    position: fixed;
    bottom: 10px;
    left: 20px;
    width: 220px;
    padding: 10px;
    background-color: #767676;
    font-size: 15px;
    font-weight: 700;
    color: white;
    text-align: center;
    border-radius: 5px;
    z-index: 1000;
    cursor: pointer;
    transition: top 1.0s ease-in-out; /* Transição suave */
    animation: vibrate 0.5s linear infinite; /* Animação de vibração mais suave e lenta */
}

.homecalculadora {
    position: relative;
    height: 100vh; /* ou 100% para ajustar ao conteúdo */
}

.homemodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #8b0976; /* Fundo semitransparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que o modal esteja acima de outros elementos */
    display: none; /* Inicialmente escondido */
}

video {
    max-width: 80vw; /* Ajuste o tamanho máximo conforme necessário */
    max-height: 80vh;
}

:root {
    --gif-scale: 0.4; /* Escala padrão (100%) */
}

.modalcarregamento {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.gif {
    width: calc(175px * var(--gif-scale));
    height: calc(40px * var(--gif-scale));
}


.atualizacaomec {
    margin: 20px;
    font-size: 10px;
}